<div class="panel panel-primary" id="<%= dom_id(quest)%>">
  <div class="panel-heading">
    <%= quest.name %> - <%= quest.type %> - Active: <%= quest.is_active %>
  </div>
  <div class="panel-body">
    <%= quest.description %>
    <br />
    <%= image_tag(quest.icon.url(:medium)) %>
  </div>
  <div class="panel-body">
    Times achieved to unlock : <%= quest.requirement %>
    <br/>
    Stat requirement- <%= quest.stat %> : <%= quest.stat_requirement %>
    <br/>
    Reward: <%= quest.reward %>
    <br/>
    Amount: <%= quest.reward_amount %>, Bonus: <%= quest.bonus %>
  </div>
  <div class="panel-footer">
    End: <%= dateTime(quest.end_date.in_time_zone("Pacific Time (US & Canada)")) %>
    <br />
    Refresh: <%= dateTime(quest.refresh_date.in_time_zone("Pacific Time (US & Canada)")) %>
  </div>
  <div class="panel-footer">
    <a data-toggle="collapse" data-parent="#accordion" href="#<%= dom_id(quest) %>-edit" class="btn btn-default <%= dom_id(quest) %>-edit">
      Edit
    </a>
    <%= link_to "Destroy", quest, method: :delete, remote: true, class: "btn btn-danger" %>
  </div>
  <div class="panel-footer">
    <div id="<%= dom_id(quest) %>-edit" class="panel-collapse collapse">
      <%= simple_form_for(quest, remote: true, method: :patch) do |f| %>
        <%= render partial: "form", locals: {f: f} %>
      <% end %>
    </div>
  </div>
</div>