<div class="jumbotron">
  <h1>Quests are forged here!</h1>
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="btn btn-default quest-form-unfold">
    Quest form
  </a>
  <p></p>
  <div id="collapseOne" class="panel-collapse collapse">
    <%= render partial: "form", locals: {quest: @quest} %>
  </div>
</div>
<p></p>
<div>
  <%= form_tag quests_path, :method => "get", remote: true %>
  <%= text_field_tag :keyword, params[:keyword] %>
  <%= submit_tag "Bitch Search", class: "btn btn-default" %>
</div>
<p></p>
<div class="quests">
  <%= render @quests %>
</div>
