<tr id="<%= dom_id(battle_level) %>">
  <td><%= battle_level.id %></td>
  <td>
    <%= battle_level.name %>
    <br />
    <%= "base: " + battle_level.gbattle_weight_base.to_s + ", turn: " + 
      battle_level.gbattle_weight_turn.to_s %>
  </td>
  <td><%= battle_level.order %></td>
  <td><%= battle_level.stamina_cost %></td>
  <td><%= battle_level.exp_given %></td>
  <td><%= battle_level.area_name %></td>
  <td><%= battle_level.region_name %></td>
  <td><%= battle_level.ability_reward %></td>
  <td><%= battle_level.time_reward %></td>
  <td><%= battle_level.pity_reward %></td>
  <td><%= battle_level.time_requirement %></td>
  <td>
    <% battle_level.monsters.each do |m| %>
      <%= m.name %> <br/>
    <% end %>
  </td>
  <td><%= image_tag(battle_level.background, size: "75x75") %></td>
  <td><%= battle_level.unlocked_by.name if battle_level.unlocked_by %></td>
  <td> 
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editting_<%= dom_id(battle_level) %>">
      Edit
    </button>
    <%= render partial: "edit_popup", locals: {battle_level: battle_level} %>
    <%= link_to "Destroy", battle_level, method: :delete, data: {confirm: "u sure?"}, 
          remote: true, class: "btn btn-danger" %> 
  </td>
</tr>

