<%= simple_form_for(BattleLevel.new, remote: true, method: :post) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :order %>
  <%= f.input :victory_message %>
  <%= f.input :stamina_cost %>
  <%= f.input :ability_reward %>
  <%= f.input :time_requirement %>
  <%= f.input :mp_reward %>
  <%= f.input :gp_reward %>
  <%= f.input :asp_reward %>
  <%= f.input :enh_reward %>
  <%= f.input :exp_given %>
  <%= f.input :background %>
  <%= f.input :music %>
  <p></p>
  <%= f.association :area %>
  <%= f.association :unlocked_by %>
  <%= f.button :submit %>
<% end %>



















