<%= simple_form_for(BattleLevel.new, remote: true, method: :post) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :order %>
  <%= f.input :victory_message %>
  <%= f.input :stamina_cost %>
  <%= f.input :ability_reward %>
  <%= f.input :time_reward %>
  <%= f.input :pity_reward %>
  <%= f.input :time_requirement, :input_html => { :value => '5' } %>
  <%= f.input :exp_given, :input_html => { :value => '0' }  %>
  <%= f.input :background %>
  <%= f.input :music %>
  <p></p>
  <%= f.association :area %>
  <%= f.association :unlocked_by %>
  <%= f.button :submit %>
<% end %>



















