<%= simple_form_for(battle_level, remote: true, method: :patch) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :order %>
  <%= f.input :victory_message %>
  <%= f.input :stamina_cost %>
  <%= f.input :ability_reward %>
  <%= f.input :time_reward %>
  <%= f.input :pity_reward %>
  <%= f.input :time_requirement %>
  <%= f.input :exp_given %>
  <%= f.input :background %>
  <%= f.input :music %>
  <p></p>
  <%= f.association :area %>
  <%= f.association :unlocked_by %>
  <%= f.input :gbattle_weight_base %>
  <%= f.input :gbattle_weight_turn %>
  <%= f.button :submit %>
<% end %>