<div class="jumbotron">
  <h1>Battle levels are forged here!</h1>
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="btn btn-default level-form-unfold">
    Battle level form
  </a>
  <p></p>
  <div id="collapseOne" class="panel-collapse collapse battle_level_creation">
    <%= render partial: "create_form", locals: {battle_level: @battle_level} %>
  </div>
  <p></p>
</div>
<div>
  <%= form_tag battle_levels_path, :method => "get", remote: true %>
  <%= text_field_tag :keyword, params[:keyword] %>
  <%= submit_tag "Search like a cow", class: "btn btn-default level-search" %>
</div>
<p></p>
<div>
  <table class="table table-hover" style="max-width: 150%; width: 125%;">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Order</th>
          <th>Stamina Cost</th>
          <th>exp_given</th>
          <th>Area</th>
          <th>Region</th>
          <th>First Prize</th>
          <th>Second Prize</th>
          <th>Third Prize</th>
          <th>Time Requirement</th>
          <th>Monsters assigned</th>
          <th>Background</th>
          <th>Unlocked_by</th>
        </tr>
      </thead>
      <tbody class="battle_levels">
        <%= render @battle_levels %>
      </tbody>
    </table>
</div>

