<div class="panel panel-primary" id="<%= dom_id(notice)%>">
  <div class="panel-heading">
    <%= notice.title %> - <%= notice.category %> - Active: <%= notice.is_active %>
  </div>
  <div class="panel-body">
    <%= notice.body %>
  </div>
  <div class="panel-body">
    <span>
      <%= image_tag(notice.banner.url(:thumb)) %>
      <%= image_tag(notice.description_image.url(:thumb)) %>
    </span>
  </div>
  <div class="panel-footer">
    <%= dateTime(notice.created_at) %>
  </div>
  <div class="panel-footer">
    <a data-toggle="collapse" data-parent="#accordion" href="#<%= dom_id(notice) %>-edit" class="btn btn-default <%= dom_id(notice) %>-edit">
      Edit
    </a>
    <%= link_to "Destroy", notice, method: :delete, class: "btn btn-danger", remote: true %>
  </div>
  <div class="panel-footer">
    <div id="<%= dom_id(notice) %>-edit" class="panel-collapse collapse">
      <%= simple_form_for(notice, remote: true) do |f| %>
        <%= f.input :title %>
        <%= f.input :is_active %>
        <%= f.input :body, input_html: {rows: "5"} %>
        <%= f.label :banner %>
        <%= f.file_field :banner %>
        <p></p>
        <%= f.label :description_image %>
        <%= f.file_field :description_image %>
        <p></p>
        <%= f.association :notice_type %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>