<div class="jumbotron">
  <h1>I am Frank. And I want attention.</h1>
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="btn btn-default notice-form-unfold">
    Notice form
  </a>
  <p></p>
  <div id="collapseOne" class="panel-collapse collapse">
    <%= simple_form_for(@notice, remote: true) do |f| %>
      <%= f.input :title %>
      <%= f.input :is_active %>
      <%= f.input :body, input_html: {rows: "5"} %>
      <%= f.label :banner %>
      <%= f.file_field :banner %>
      <p></p>
      <%= f.label :description_image %>
      <%= f.file_field :description_image %>
      <p></p>
      <%= f.association :notice_type %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
<p></p>
<div>
  <%= form_tag notices_path, :method => "get", remote: true %>
  <%= text_field_tag :keyword, params[:keyword] %>
  <%= submit_tag "Search like a dog", class: "btn btn-default notice-search" %>
</div>
<p></p>
<div class="notices">
  <%= render @notices %>
</div>
