<div class="guild-panel individual-guild">
<!--   <button class="notification-toggle guilds-page">N</button>
  <div class="notification-dropdown guild-dropdown">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/quest-arrow.png", 
      class: "notification-dropdown-arrow") %>
    <% current_summoner.notifications.each do |n| %>
      <%= render partial: "layouts/notification", 
        locals: {notification: n} %>
    <% end %>
  </div> -->

  <h3 class="guild-message-attached"></h3>
  <h3 class="guild-single-p-title">Guild</h3>
  <% if current_summoner.is_leader(@guild) %>
    <%= link_to "Disband", @guild, method: :delete, 
      data: {confirm: "Are you sure? People are gonna be sad!"}, 
      class: "main-guild-action-button" %>
  <% elsif current_summoner.is_member(@guild) %>
    <%= link_to "Leave", leave_guild_path,class: "leave-guild-but main-guild-action-button"%>
  <% elsif @can_join %>
    <a href="#" class="join-guild main-guild-action-button" 
      data-type="guild_join_request"
      data-code="<%= @guild.name %>">
      Join
    </a>
  <% end %>
  <div class="single-guild-panel">
    <div class="guild-main-detail">
      <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/frank.jpg", 
        class: "guild-avatar")%>
      <h3><strong><%= @guild.name %></strong></h3>
      <p><%= @guild.description %></p>
    </div>
    <div class="guild-further-detail">
      <h4>
        <span class="title">Members:</span>
        <span class="information">
          <%= @guild.current_member_count %>/<%= @guild.maximum_member_count %>
        </span>
      </h4>
      <h4>
        <span class="title">Entry Requirement:</span>
        <span class="information"><%= @guild.minimum_level%></span>
      </h4>
      <h4>
        <span class="title">Guild Points:</span>
        <span class="information">0</span>
      </h4>
    </div>
    <div class="guild-member-list">
      <% @guild.members.each do |m| %>
        <div class="member-box">
          <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/guild-filler-logo.png", 
            class: "guild-member-avatar")%>
          <div class="member-detail-box">
            <span class="guild-member-name"><%= m.name %></span>
            <br />
            <span class="guild-member-level">LV. <%= m.level %></span>
          </div>
          <% if m.guild_title(@guild) %>
            <div class="member-title-box">
              <span class="guild-member-title"><%= m.guild_title(@guild) %></span>
            </div>
          <% elsif current_led_guild %>
            <button class="member-title-box member-kick-button" data-name="<%= m.name %>">
              KICK
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>