<h4 class="gbattle-level-timer">
  This event ends in <%= @area.time_left %>
</h4>
<%= image_tag(@area.banner, class: "guild-event-banner") %>
<div class="battle-rank-information">
  <% if @guild_score %>
    <div class="rank-desc guild-rank">
      <span class="rank-title">Your Guild Rank:</span> 
      <span class="rank-number">
        <%= @guild_score.rank(current_summoner.id) %>
      </span>
    </div>
    <br />
    <% if @summoner_score %>
      <div class="rank-desc individual-rank">
        <span class="rank-title">Your Individual Rank:</span> 
        <span class="rank-number">
          <%= @summoner_score.rank(current_summoner.id) %>
        </span>
      </div>
      <br />
      <div class="rank-desc">
        <span class="rank-title">Your Points:</span> 
        <span class="rank-number">
          <%= @summoner_score.points %>
        </span>
      </div>
    <% end %>
  <% else %>
    <div class="rank-desc guild-rank no-rank-box">
      Be the first one to fight a battle for your guild!
    </div>
  <% end %>
</div>
<div class="individual-reward-but gbattle-level-but">
  Individual <br/> Rewards
</div>
<div class="guild-reward-but gbattle-level-but">
  Guild <br/> Rewards
</div> 
<h4 class="gbatlte-level-list-title">
  Raid Stages
</h4>
<div class="level-description guild-level-list">
  <%= form_for(Battle.new) do |f| %>
    <% @levels.each do |b| %>
      <button class="pick-level" name="battle[battle_level_id]"
          type="submit" value="<%= b.id %>">
        <span class="level-name">
          <span class="name"><%= b.name +  " - Difficulty x " + b.win_count(current_user).to_s %></span>
          <span class="staminacon">
            <%= image_tag("stamina.png", size: "25x25") %> <%= b.stamina_cost %>
          </span>
        </span>
        <div class="level-desc">
          <%= b.description %>
        </div>
      </button>
    <% end %>
  <% end %>
</div>