<div>
  <h4 class="leadership-heading title-rank">Rank</h4>
  <h4 class="leadership-heading title-guild">Guild</h4>
  <h4 class="leadership-heading title-battles">Battles won</h4>
  <h4 class="leadership-heading title-ratio">P/B ratio</h4>
  <h4 class="leadership-heading title-points">Points</h4>
</div>
<div class="guild-ranking-listing">
  <% @scores.each do |s| %>
    <div class="single-guild-leadership-listing" 
      style="<%= s.leadership_border(current_guild) %>">
      <span class="single-guild-stats rank">
        <%= @scores.index(s) + 1 %>
      </span>
      <span class="single-guild-stats guild-name">
        <%= s.parent_name %>
      </span>
      <span class="single-guild-stats guild-ratio">
        <%= (s.points/s.num_of_battles).round(2) %>
      </span>
      <%= 
        image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/guild-avatar/guild-emblem.png", 
          class: "guild-avatar")
      %>
      <span class="single-guild-stats guild-battle-count">
        <%= s.num_of_battles %>
      </span>
      <span class="single-guild-stats guild-battle-points">
        <%= s.points  %>
      </span>
    </div>
  <% end %>
</div>