<% if ascension.bigger_monster %>
  <div class="ascend-overlay">
    <h3 class="unlock-message">You have unlocked <span id="ascension-name"></span>!</h3>
  </div>
  <div class="title-box">
    <h3 class="ascension-desc">Monster to ascend:</h3>
    <h3 class="baby-name"><%= ascension.baby_monster.name %></h3>
    <%= image_tag(ascension.baby_monster.default_skin_img, class: "baby-face") %>
  </div>
  <h4 class="material-desc">Required Material:</h4>
  <div class="material-box" 
       data-asp="<%= current_summoner.asp %>"
       data-aspcost="<%= ascension.bigger_monster.asp_cost %>"
       data-name="<%= ascension.bigger_monster.name %>">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/ascend.png", 
      class: "material-icon") %>
    <span>X <%= ascension.bigger_monster.asp_cost %></span> &nbsp
    <span>(Have <%= current_summoner.asp %>)</span>
  </div>
  <h4 class="ascension-desc">Ascension:</h4>
  <div class="ascension-box"> 
    <span class="ascend-name"><%= ascension.bigger_monster.name  %></span>
    <span class="ascend-class"><%= ascension.bigger_monster.job.name %></span>
    <span class="ascend-hp">HP: <%= ascension.bigger_monster.max_hp %></span>
    <%= image_tag(ascension.bigger_monster.default_skin_img, class: "ascend-face") %>
    <% if ascension.bigger_monster.passive %>
      <%= image_tag(ascension.bigger_monster.passive.port, class: "passive-icon") %>
      <span class= "passive-title">Passive</span>
      <div class="passive-description">
        <div class="passive-name">
          <%= ascension.bigger_monster.passive.name %>
        </div>
        <div class="passive-details">
          <%= ascension.bigger_monster.passive.description %>
        </div>
      </div>
    <% end %>
  </div>
  <% if ascension.enough %>
    <%= link_to "Unlock Ascension", 
        unlock_ascension_path(:monster_id => ascension.bigger_monster.id), 
        :method => :post, class: "unlock-ascension-but", remote: true %>
  <% else %>
    <div class="red-light-ascension">
      Not enough material 
    </div>
  <% end %>
<% end %>