<% @notices.each do |notice| %>
  <% case notice.category %>
    <% when "News" %>
      <a class="news-entry-click" data-remote="true"
         href="/landing?selected_notice=<%= notice.title %>">
        <div id="<%= dom_id(notice)%>" class="news-entry">
          <div class="notice-type news"><%= notice.category %></div>
          <p class="notice-title"><%= notice.title %></p>
        </div>
      </a>
    <% when "Patch" %>
      <a class="news-entry-click" data-remote="true"
         href="/landing?selected_notice=<%= notice.title %>">
        <div id="<%= dom_id(notice)%>" class="news-entry">
          <div class="notice-type patch"><%= notice.category %></div>
          <p class="notice-title"><%= notice.title %></p>
        </div>
      </a>
    <% when "Server" %>
      <a class="news-entry-click" data-remote="true"
         href="/landing?selected_notice=<%= notice.title %>">
        <div id="<%= dom_id(notice)%>" class="news-entry">
          <div class="notice-type server"><%= notice.category %></div>
          <p class="notice-title"><%= notice.title %></p>
        </div>
      </a>
    <% when "Event" %>
      <a class="news-entry-click" data-remote="true"
         href="/landing?selected_notice=<%= notice.title %>">
        <div id="<%= dom_id(notice)%>" class="news-entry">
          <div class="notice-type event"><%= notice.category %></div>
          <p class="notice-title"><%= notice.title %></p>
        </div>
      </a>
    <% when "Article" %>
      <a class="news-entry-click" data-remote="true"
         href="/landing?selected_notice=<%= notice.title %>">
        <div id="<%= dom_id(notice)%>" class="news-entry">
          <div class="notice-type article"><%= notice.category %></div>
          <p class="notice-title"><%= notice.title %></p>
        </div>
      </a>
  <% end %>
<% end %>