<% @notices.each do |notice| %>
  <% case notice.category %>
    <% when "News", "Update" %>
      <a class="news-entry-click" data-remote="true"
         href="/landing?selected_notice=<%= notice.title %>">
        <div id="<%= dom_id(notice)%>" class="news-entry">
          <div class="notice-type success"><%= notice.category %></div>
          <p class="notice-title"><%= notice.title %></p>
        </div>
      </a>
    <% when "Server" %>
      <a class="news-entry-click" data-remote="true"
         href="/landing?selected_notice=<%= notice.title %>">
        <div id="<%= dom_id(notice)%>" class="news-entry">
          <div class="notice-type danger"><%= notice.category %></div>
          <p class="notice-title"><%= notice.title %></p>
        </div>
      </a>
    <% when "Event" %>
      <a class="news-entry-click" data-remote="true"
         href="/landing?selected_notice=<%= notice.title %>">
        <div id="<%= dom_id(notice)%>" class="news-entry">
          <div class="notice-type warning"><%= notice.category %></div>
          <p class="notice-title"><%= notice.title %></p>
        </div>
      </a>
    <% when "Article" %>
      <a class="news-entry-click" data-remote="true"
         href="/landing?selected_notice=<%= notice.title %>">
        <div id="<%= dom_id(notice)%>" class="news-entry">
          <div class="notice-type info"><%= notice.category %></div>
          <p class="notice-title"><%= notice.title %></p>
        </div>
      </a>
  <% end %>
<% end %>