<div class="ascending" data-firsttime="<%= @ascension.first_time %>" >
  <h2>Ascend Monsters</h2>
  <%= link_to "Level Select", new_battle_path, class: "level-select-path" %>
  <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/info-icon.png", 
    class: "ascend-info-icon") %>
  <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/Ascend-tutorial.png",
    class: "ascend-explanation" )%>
  <div class="monster-list">
    <% if @ascension.monsters.count != 0 %>
      <h3 class="list-title">Capable of Ascension:</h3>
    <% else %>
      <h3 class="list-title">All ascensions unlocked!</h3>
    <% end %>
    <div class="ascend-list">
      <% @ascension.monsters.each do |s| %>
        <%= link_to (
              image_tag("#{s.default_skin_img}", 
              class: "ascend-mon-avatar")
            ), 
            ascend_monster_path(ascend_monster: s.name),
            id: s.name.gsub(" ",""),
            remote: true
         %>
      <% end %>
    </div>
  </div>
  <div class="ascend-monster">
    <%= render partial: "ascend_monster", locals: {ascension: @ascension} %>
  </div>
</div>

