<div class="ability-learning">
  <h3 class="page-heading">Teach Abilities</h3>
  <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/info-icon.png", 
    class: "teaching-info-icon") %>
  <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/Ability-learning-tut.png",
    class: "teaching-explanation")%>
  <%= image_tag("remove-member.png", size: "22x22", 
      class: "learning-search-cross") %>
  <%= link_to "Level Select", new_battle_path, 
      class: "path-but level-select-path" %>
  <%= form_tag learn_ability_path, :method => "get", remote: true,
      class: "ability-learning-search-form" %>
    <%= text_field_tag :keyword, params[:keyword],
      class: "ability-learning-search-words" %>
    <%= submit_tag "Search", class: "path-but ability-learning-search" %>
  <div class="abilities-to-learn">
      <div class="lesson-list">
        <%= render partial: "learning_list", 
            locals: {unlearned_abilities: @unlearned_abilities} %>
      </div>
    <div class="ability-detail">
      <div class="detail-heading">
        <span class="name">Ability Name</span>
        <span class="slot">Type</span>
        <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/attack-25px.png", 
          class: "attack-icon-learn") %>
        <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/ap-cost-icon-25.png", 
          class: "ap-icon-learn") %>
        <span class="ap-cost"></span>
        <span class="impact"></span>
        <br />
        <span class="class-list">Class List</span>
      </div> 
      <div class="detail-description">
        Description
      </div>
    </div>
  </div>
  <div class="monster-students">
    <div class="whole-student-list">
      <%= render partial: "student_list", 
          locals: {monster_students: @monster_students, 
                   unlearned_abilities: @unlearned_abilities} %> 
    </div>
  </div>
</div>

<div class="learning-overlay">
  <div class="warning-message">
    <h3 class="message-line">Are you sure you want to teach?</h3>
    <%= image_tag("check-mark-100.png", class: "go-ahead-learn") %>
    <%= image_tag("cancel.png", class: "cancel-learn") %>
  </div>
  <div class="success-message">
    Learning Completed!
  </div>
</div>







