<% if current_user %>
  <%= render "store_tabs" %>
  <div class="store-front" id="ability-store">
    <input type="image" src="https://s3-us-west-2.amazonaws.com/monbattle/images/summon-button.png" 
          alt="Submit" class="king-roll" data-roll="base">
    <input type="image" src="https://s3-us-west-2.amazonaws.com/monbattle/images/summon-button.png" 
          alt="Submit" class="queen-roll" data-roll="ascension">
  </div>

  <div class="store-front mon-store" id="monster-store">
    <%= image_tag("premium-summon.png", class: "premium-summon-logo") %>
    <input type="image" src="https://s3-us-west-2.amazonaws.com/monbattle/images/summon-button.png" 
          alt="Submit" class="mon-roll" data-roll="monster">
    <div class="store-message">
      <span>Master, I sense new monsters!</span>
      <span>New monsters include: Hotspot, SPook, Grimrock, and Uorabora</span>
      <span>New Abilities include: Reckless Strike and Sword Summit</span>
    </div>
    <%= image_tag("ai-happy-avatar.png", class: "ai-happy-avatar") %> 
  </div>



  <div class="store-overlay">
    <div class="store-overlay-objects">
      <%= image_tag("legendary-text.png", class: "rarity-icon") %>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/abilities/portraits/000/000/059/thumb/abil-spe-buff.png?1419284221", 
        class: "ability-won-icon") %>
    </div>
    <div class="panel-body roll-message">
    </div>

    <%= image_tag("reveal-button.png", class: "reveal-button")%>
    <button class="back-to-store">Close</button>
  </div>
<% else %>
  <%= render "no_user" %>
<% end %>