<div class="battle_level">
  <% @areas.each do |a| %>
    <%= link_to a.name, new_battle_path(level_filter: a.name), remote: true, 
        class: "btn btn-primary map-level #{a.region_name}", id: a.name.delete(" ") %>
  <% end %>
  <%= image_tag(@map_url, class: "map-image", data: {region: @current_region}) %>
</div>

<div class="level-description">
  <%= form_for(Battle.new) do |f| %>
    <% @levels.each do |level| %> 
      <button class="pick-level" id= "<%= level.name.delete(' ') %>" 
        name="battle[battle_level_id]" type="submit" value="<%= level.id %>">
          <span class="level-name"><%= level.name %> - <%=level.stamina_cost%> Stamina</span>
          <br/>
          <div class="level-desc">
            It's my life. It wont last forever. I aint gonna live forever. I just wanna live my life.
          </div>
      </button>
    <% end %>
  <% end %>
</div>

