<div class="battle_level">
  <% @areas.each do |a| %>
    <%= link_to a.name, new_battle_path(level_filter: a.name), remote: true, 
        class: "btn btn-primary map-level #{a.region_name}", id: a.name.delete(" ") %>
  <% end %>
  <%= image_tag(@map_url, class: "map-image", data: {region: @current_region}) %>
</div>

<div class="stage-challenge-description">
  <div class="title">
    CHALLENGES
  </div>
  <div class="stage-name">
    Area A - Stage 1
  </div>
  <div class="stage-column objective">
    Objective
  </div>
  <div class="stage-column reward">
    Reward
  </div>
  <div class="stage-panel">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/filled-star.png", class: "description-star") %>
    <div class="objective-desc">Complete the level</div>
    <div class="reward-desc">
      <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/frank.jpg", class: "reward-image") %>
      <p class="reward-count">x 10</p>
    </div>
  </div>
  <div class="stage-panel second">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/filled-star.png", class: "description-star") %>
    <div class="objective-desc">Complete the level under 5 rounds</div>
    <div class="reward-desc">
      <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/frank.jpg", class: "reward-image") %>
      <p class="reward-count">x 10</p>
    </div>
    <div class="repeatable">Repeatable</div>
  </div>
  <div class="stage-panel third">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/filled-star.png", class: "description-star") %>
    <div class="objective-desc">?</div>
    <div class="reward-desc">?</div>
  </div>
</div>



<div class="level-description">
  <%= form_for(Battle.new) do |f| %>
    <% @levels.each do |level| %> 
      <button class="pick-level" id= "<%= level.name.delete(' ') %>" 
        name="battle[battle_level_id]" type="submit" value="<%= level.id %>">
          <span class="level-name">
            <span class="name"><%= level.name %></span>
            <span class="staminacon"><%= image_tag("stamina.png", size: "25x25") %> <%=level.stamina_cost%></span>
          </span>
          <span class="stage-stars" data-requirement= "<%= level.time_requirement %>"
            data-currencyReward = "<%= level.is_currency_reward %>"
            data-firstClearImage = "<%= level.first_clear_reward_image %>" 
            data-firstClearReward = "<%= level.ability_reward[1] %>"
            data-secondClearImage = "<%= level.second_clear_reward_image %>"
            data-secondClearReward = "<%= level.second_clear_reward %>"
            >
            <% if current_user.summoner.beaten_levels.include?(level.name)  %>
              <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/filled-star.png", class: "star first-star", size: "20x20") %>
            <% else %>
              <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/empty-star.png", class: "star first-star", size: "20x20") %>
            <% end %>
            <% if current_user.summoner.cleared_twice_levels.include?(level.name)  %>
              <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/filled-star.png", class: "star second-star", size: "20x20") %>
            <% else %>
              <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/empty-star.png", class: "star second-star", size: "20x20") %>
            <% end %>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/empty-star.png", class: "star third-star", size: "20x20") %>
          </span>
          <br/>
          <div class="level-desc">
            <%= level.description %>
          </div>
      </button>
    <% end %>
  <% end %>
</div>

