<% if party.npc == false %>
  <div class="monBut">
    <p class="mon-name"><%= mon.name %></p>
    <button class="action attack" data-index= "0" data-apcost = "<%= mon.cost(0) %>" onclick="playIt()" data-target="attack" data-name="<%= mon.abilities[0].name %>">
      <%= image_tag("attack_but.png", size: "40x40", class: "but-image") %>
    </button>
    <button class="action ability" data-index="1" data-apcost = "<%= mon.cost(1) %>" onclick="playIt()" data-target= "<%= mon.target(1) %>" data-name="<%= mon.abilities[1].name %>">
      <%= image_tag("ability_but.png", size: "40x40", class: "but-image") %>
    </button>
    <% if mon.unlocked_evolves.exists? %>
      <button class="action evolve" data-apcost = "<%= mon.unlocked_evolves[0].ap_cost %>" onclick="playIt()" data-target = "evolve">
        <%= image_tag("change_but.png", size: "40x40", class: "but-image") %>
      </button>
    <% end %>
  </div>
<% end %>

<input class="img" src="<%= mon.image(party.user) %>" data-index="<%= party.mon_dex(mon) %>" type="image" alt="monster image">
<div class="effect-box"></div>
<p class="dam"><p>

<% if party.npc == false %>
  <div class="abilityDesc panel panel-default">
    <div class="pan panel-heading">
      ability name
    </div>
    <span class="damage-type">Physical</span>
    <div class="pan panel-body">
      <%= mon.abilities[1].description %>
    </div>
    <div class="pan panel-footer">
      <span>
        <%= image_tag("sword.png", class: "sword-icon") %>
        <p class="d">500</p> <p> &nbsp &nbsp</p> 
        <p class="a">AP:2</p>
      </span>
    </div>
  </div>
<% end %>

<div class="hp">
  <%= image_tag("HPBar1px.gif", class: "bar") %>
</div>

<div class="num">
  <p class="current-hp"><%= mon.max_hp %></p>
  <p class="max-hp">/  <%= mon.max_hp %></p>
  <% if party.npc == true %>
    <p class="mon-name"><%= mon.name %></p>
  <% end %>
</div>


