<% if party.npc == false %>
  <div class="monBut">
    <button class="attack" data-index= "0" data-apcost = "<%= mon.cost(0) %>" data-target= "attack">Attack</button>
    <button class="ability" data-index="1" data-apcost = "<%= mon.cost(1) %>" data-target= "<%= mon.target(1) %>">Ability</button>
    <% if mon.unlocked_evolves.exists? %>
      <button class="evolve" data-apcost = "<%= mon.unlocked_evolves[0].ap_cost %>" data-target = "evolve">Evolve</button>
    <% end %>
  </div>
<% end %>

<input class="img" src="<%= mon.image(party.user) %>" data-index="<%= party.mon_dex(mon) %>" type="image" alt="monster image">
<p class="dam"><p>

<% if party.npc == false %>
  <div class="abilityDesc panel panel-default">
    <div class="pan panel-heading">Motherfucking ability man</div>
    <div class="pan panel-body">
      <%= mon.abilities[1].description %>
    </div>
    <div class="pan panel-footer">
      <span><p class="d">500</p> <p> &nbsp &nbsp</p> <p class="a">AP:2</p></span>
    </div>
  </div>
<% end %>
