<div class="end-battle-box loser">
  <p class="exp-earned">0.1</p>
  <p class="ability-earned">Nothing</p>
  <%= link_to "Equip Ability", home_index_path, class: "end-battle-but ability-equip" %>
  <%= form_for(Battle.new) do |f|  %>
    <button class="end-battle-but replay" name="battle[battle_level_id]" type="submit" value="<%= @battle.battle_level.id %>">
      <%= image_tag("restart-icon.png", class: "restart-icon", size: "50x50") %>
    </button>
  <% end %>
  <%= link_to "Battle", new_battle_path, class: "end-battle-but level-select" %>
</div>