<%= javascript_include_tag "jquery.joyride-2.1" %>

<img class="single-ability-img" src="" type="image" alt="monster abiltiy">

<div id="overlay">
  <div class="panel panel-default">
    <div class="panel-body message">
      Time to take out the trash!
    </div>
  </div>
</div>

<div class="battle" data-index="<%= @battle.id %>">
  <div class="panel-body battle-message">
    Time to Die!!!
  </div>

  <div class="panel-body battle-guide guide">
    I will help you
  </div>

  <button class="battle-guide cancel">Cancel</button>


  <%= image_tag("platform.jpg", class: "platform") %>
  <img class="ability-img" src="" type="image" alt="monster abiltiy">

  <div class="0 user info">
    <% @user_party.mons.each do |mon| %>
      <div class="mon mon<%= @user_party.mon_dex(mon) %>" data-index="<%= @user_party.mon_dex(mon)%>">
        <%= render :partial => "userTeamInfo", :locals => { :mon => mon }  %>
      </div>
    <% end %>
  </div>

  <div class="0 user mon-slot" id="control-tip" data-team="0">
    <% @user_party.mons.each do |mon| %>
      <div class="mon mon<%= @user_party.mon_dex(mon) %>" data-index="<%= @user_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @user_party  } %>
      </div>
    <% end %>
  </div>

  <div class="1 enemy mon-slot" data-team="1">
    <% @pc_party.mons.each do |mon| %>
      <div class="mon mon<%= @pc_party.mon_dex(mon) %>" data-index="<%= @pc_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @pc_party } %>
      </div>
    <% end %>
  </div>

  <div class="1 enemy info">
    <% @pc_party.mons.each do |mon| %>
      <div class="mon mon<%= @pc_party.mon_dex(mon) %>" data-index="<%= @pc_party.mon_dex(mon) %>">
        <p class="avatar"></p>
        <%= render :partial => "pcTeamInfo", :locals => {:mon => mon}  %>
      </div>
    <% end %>
  </div>

  <div class="ap" id="ap-tip">
    <p class="ap-number">AP:   1000 / 1000 </p>
    <div class="ap-meter">
      <%= image_tag("HPBar1px.gif", class: "bar") %>
    </div>
  </div>

  <button class="end-turn">End Turn</button>

</div>

<ol id="battle-tutorial" hidden>
<!--   /* data-id needs to be the same as the parent it will attach to */ -->
  <li data-id="tutorial0">You stupid piece of shit and why are you even living? You are worthless, man.</li>
  <li data-id="ap-tip">Why are you still here man? Find a tall building, go to the roof and jump off.</li>

<!--   /* This tip will be display as a modal */
  <li>Tip content...</li> -->

<!--   /* using 'data-button' lets you have custom button text */ -->
<!--   <li data-class="tip-ap" data-options="tipLocation:top;tipAnimation:fade" data-button="Second Button"></li> -->

<!--   /* you can put a class for custom styling */
  <li data-id="parentElementID" class="custom-class">Content...</li> -->
</ol>





