<%= javascript_include_tag "jquery.joyride-2.1" %>

<% if @battle.battle_level.music %>
  <audio controls autoplay loop class="hide">

  </audio>
<% end %>

<div id="button-click">
</div>

<div id="overlay">
  <div class="message">
    <div class="confirmation">
      Are you sure you want to leave the battle? This battle’s progress will NOT be saved!
      <br />
      <a href="" class="leave-battle-but">Yes</a>
      <a href="" class="back-to-battle-but">No</a>
    </div>
  </div>
  <%= image_tag(@battle.battle_level.start_cut_scenes[0], class: "cutscene") %>
  <%= image_tag("story-arrow.png", class: "next-scene") %>
  <% if current_user.summoner.played_levels.include?(@battle.battle_level.name) && @battle.
        battle_level.has_cut_scene %>
    <button class="skip-button" id="skip-button">Skip</button>
  <% end %>
</div>


<div class="battle" data-index="<%= @battle.id %>" id="battle">
  <div class="panel-body battle-message">
    Time to Die!!!
  </div>

  <div class="battle-timer">
  </div>

  <% if @first_cleared %>
    <div class="battle-round-countdown">
      Rush Reward: <span><%= @battle.battle_level.time_requirement %></span>
    </div>
    <div class="bonus-description">
      Win the battle under <%= @battle.battle_level.time_requirement %> rounds 
          and get <%= @battle.battle_level.reward %>
    </div>
  <% elsif @twice_cleared %>
    <div class="battle-round-countdown">
      Rush Bonus: <span><%= @battle.battle_level.time_requirement %></span>
    </div>
    <div class="bonus-description">
      Win the battle under <%= @battle.battle_level.time_requirement %> rounds 
          and get the currency reward
    </div>
  <% end %>

  <div class="battle-helper">
    <div class="panel-body battle-guide guide">
      I will help you
    </div>
    <button class="battle-guide cancel" onclick="playIt()">
      Cancel Action
    </button>
  </div>

  <img class="ability-img" src="" type="image" alt="monster abiltiy">

  <div class="0 user mon-slot" id="control-tip" data-team="0">
    <% @user_party.mons.each do |mon| %>
      <div class="mon mon<%= @user_party.mon_dex(mon) %>" data-index="<%= @user_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @user_party  } %>
      </div>
    <% end %>
  </div>

  <h2 class="foe-indication">Enemy</h3>

  <div class="1 enemy mon-slot" id="tutorial-end" data-team="1">
    <% @pc_party.mons.each do |mon| %>
      <div class="mon mon<%= @pc_party.mon_dex(mon) %>" data-index="<%= @pc_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @pc_party } %>
      </div>
    <% end %>
  </div>

  <div class="ap" id="ap-tip">
    <%= image_tag("hero-icon.png", size: "42x42", class: "baby")%>
    <p class="ap-number">AP:   1000 / 1000 </p>
    <div class="ap-meter">
      <%= image_tag("APBar1px.gif", class: "bar") %>
    </div>
  </div>

  <button class="end-turn" id="end-turn-tip" onclick="playIt()">End Turn</button>
</div>

<div class="effect-info panel panel-default">
  <div class="panel-body">
    <p>Effect description</p>
  </div>
  <div class="panel-heading">Effect name</div>
</div>





<div id="embed"></div>


<!-- Joy Ride -->

<div id="first-stop"></div>

<div id="last-stop"></div>

<ol id="battle-tutorial" hidden>
  <li data-id="first-stop">This is your party. You control each monster by clicking on their image.</li>
  <li data-id="first-stop">There are three actions: Attack, Ability and Evolve.</li>
  <li data-id="ap-tip">Each action costs ability points (AP). You have a finite amount of AP. Your total AP increases by 10 per round, to a maximum 80.</li>
  <li data-id="end-turn-tip">When you have no other actions available or AP left, your "End Turn" button will highlight. Once the button is clicked, the enemy monsters will make their moves.</li>
  <li data-id="last-stop"> Now let's beat these guys to a pulp!</li>
</ol>





