<% if !@battle.battle_level.music %>
  <audio controls autoplay loop class="hide">
    <source src="<%= @battle.battle_level.music %>" type="audio/mpeg">
  </audio>
<% end %>

<div id="button-click">
</div>

<div id="overlay">
  <div class="message">
    <div class="confirmation">
      Are you sure you want to leave the battle? This battle’s progress will NOT be saved!
      <br />
      <a href="" class="leave-battle-but">Yes</a>
      <a href="" class="back-to-battle-but">No</a>
    </div>
  </div>
  <%= image_tag(@battle.battle_level.start_cut_scenes[0], class: "cutscene") %>
  <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/next.png", class: "next-scene") %>
  <% if current_user.summoner.played_levels.include?(@battle.battle_level.name) && @battle.
        battle_level.has_cut_scene %>
    <button class="skip-button" id="skip-button">Skip</button>
  <% end %>
</div>


<div class="battle" data-index="<%= @battle.id_code %>" 
  data-battlecount="<%= current_user.battle_count %>" id="battle"
  data-bonusTurtorial="<%= current_user.first_time_replay(@battle.battle_level.name) %>">

  <div class="panel-body battle-message">
    Time to Die!!!
  </div>

  <div class="battle-timer">
  </div>

  <% if @first_cleared %>
    <div class="battle-round-countdown" id="battle-round-countdown">
      <span><%= @battle.battle_level.time_requirement %></span> turns
      <p class="rush-reward-title">Rush Reward</p>
    </div>
    <div class="bonus-description">
      Win the battle under <%= @battle.battle_level.time_requirement %> rounds 
          and get <%= @battle.battle_level.reward %>
    </div>
  <% elsif @twice_cleared %>
    <div class="battle-round-countdown" id="battle-round-countdown">
      <span><%= @battle.battle_level.time_requirement %></span> turns
      <p class="rush-reward-title">Rush Reward</p>
    </div>
    <div class="bonus-description">
      Win the battle under <%= @battle.battle_level.time_requirement %> rounds 
          and get the currency reward
    </div>
  <% end %>

  <div class="battle-helper">
    <div class="panel-body battle-guide guide">
      I will help you
    </div>
    <button class="battle-guide cancel" onclick="playIt()">
      Cancel Action
    </button>
  </div>

  <img class="ability-img" src="" type="image" alt="monster abiltiy">

  <div class="oracle-skill-panel">
    <p class="oracle-skill-title">Oracle Skill:</p>
    <img src="https://s3-us-west-2.amazonaws.com/monbattle/images/frank.jpg" class="oracle-skill-icon">
    <div class="cooldown-box">
      <%= image_tag("clock.png", class: "cooldown-icon") %> 
      <p class="cooldown-count">2</p>
    </div>
  </div>

  <div class="0 user mon-slot" id="control-tip" data-team="0">
    <% @user_party.mons.each do |mon| %>
      <div class="mon mon<%= @user_party.mon_dex(mon) %>" data-index="<%= @user_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @user_party  } %>
      </div>
    <% end %>
  </div>

  <h2 class="foe-indication" id="foe-indication">Enemy</h3>

  <div class="1 enemy mon-slot" id="tutorial-end" data-team="1">
    <% @pc_party.mons.each do |mon| %>
      <div class="mon mon<%= @pc_party.mon_dex(mon) %>" data-index="<%= @pc_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @pc_party } %>
      </div>
    <% end %>
  </div>

  <div class="ap" id="ap-tip">
    <%= image_tag("hero-icon.png", size: "42x42", class: "baby")%>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/ap-cost-icon-25.png", 
        class: "ap-icon") %>
    <p class="ap-number">1000 / 1000 </p>
    <div class="ap-meter" id="ap-meter">
      <%= image_tag("APBar1px.gif", class: "bar") %>
    </div>
    <%= image_tag("add-member.png", class: "gain-ap", id: "gain-ap", onclick: "playIt()",
        data: {index: "", apcost: 10, target: "action-point"})  %>
  </div>

  <div class="ap-gain-information">
    Spend <span>10</span> AP this turn to gain 10 maximum AP 
  </div>

  <button class="end-turn" id="end-turn-tip" onclick="playIt()">End Turn</button>
</div>

<div class="effect-info panel panel-default">
  <div class="panel-body">
    <p>Effect description</p>
  </div>
  <div class="panel-heading">Effect name</div>
</div>


<div id="embed"></div>

<%= javascript_include_tag "hopscotch" %>



