<%= javascript_include_tag "jquery.joyride-2.1" %>

<img class="single-ability-img" src="" type="image" alt="monster abiltiy">

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '810856255619977',
      xfbml      : true,
      version    : 'v2.1'
    });

    // ADD ADDITIONAL FACEBOOK CODE HERE
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="overlay">
  <div class="panel panel-default">
    <div class="panel-body message">
      Time to take out the trash!
    </div>
  </div>
</div>

<div class="battle" data-index="<%= @battle.id %>">
  <div class="panel-body battle-message">
    Time to Die!!!
  </div>

  <div class="panel-body battle-guide guide">
    I will help you
  </div>

  <button class="battle-guide cancel">Cancel</button>


  <%= image_tag("platform.jpg", class: "platform") %>
  <img class="ability-img" src="" type="image" alt="monster abiltiy">

  <div class="0 user info">
    <% @user_party.mons.each do |mon| %>
      <div class="mon mon<%= @user_party.mon_dex(mon) %>" data-index="<%= @user_party.mon_dex(mon)%>">
        <%= render :partial => "userTeamInfo", :locals => { :mon => mon }  %>
      </div>
    <% end %>
  </div>

  <div class="0 user mon-slot" id="control-tip" data-team="0">
    <% @user_party.mons.each do |mon| %>
      <div class="mon mon<%= @user_party.mon_dex(mon) %>" data-index="<%= @user_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @user_party  } %>
      </div>
    <% end %>
  </div>

  <div id="first-stop"></div>

  <div class="1 enemy mon-slot" id="tutorial-end" data-team="1">
    <% @pc_party.mons.each do |mon| %>
      <div class="mon mon<%= @pc_party.mon_dex(mon) %>" data-index="<%= @pc_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @pc_party } %>
      </div>
    <% end %>
  </div>

  <div id="last-stop"></div>

  <div class="1 enemy info">
    <% @pc_party.mons.each do |mon| %>
      <div class="mon mon<%= @pc_party.mon_dex(mon) %>" data-index="<%= @pc_party.mon_dex(mon) %>">
        <p class="avatar"></p>
        <%= render :partial => "pcTeamInfo", :locals => {:mon => mon}  %>
      </div>
    <% end %>
  </div>

  <div class="ap" id="ap-tip">
    <p class="ap-number">AP:   1000 / 1000 </p>
    <div class="ap-meter">
      <%= image_tag("HPBar1px.gif", class: "bar") %>
    </div>
  </div>

  <button class="end-turn" id="end-turn-tip">End Turn</button>

</div>

<ol id="battle-tutorial" hidden>
  <li data-id="first-stop">This is your party. You control each monster by clicking on their image.</li>
  <li data-id="first-stop">There are three actions: Attack, Ability and Evolve.</li>
  <li data-id="ap-tip">Each action costs ability points (AP). You have a finite amount of AP. Your total AP increases by 10 per round, to a maximum 80.</li>
  <li data-id="end-turn-tip">When you have no other actions available or AP left, your "End Turn" button will highlight. Once the button is clicked, the enemy monsters will make their moves.</li>
  <li data-id="last-stop"> Now let's beat these guys to a pulp!</li>
</ol>





