<% if @show.battle_level.music %>
  <% if !current_summoner.mute %>
    <audio controls autoplay loop class="hide battle-music">
      <source src="<%= @show.battle_level.music %>" type="audio/mpeg">
    </audio>
  <% else %>
    <audio controls autoplay muted loop class="hide battle-music">
      <source src="<%= @show.battle_level.music %>" type="audio/mpeg">
    </audio>
  <% end  %>
<% end %>

<div id="button-click">
</div>


<div id="overlay">
  <div class="message">
    <div class="confirmation">
      Are you sure you want to leave the battle? This battle’s progress will NOT be saved!
      <br />
      <a href="" class="leave-battle-but">Yes</a>
      <a href="" class="back-to-battle-but">No</a>
    </div>
  </div>
  <%= image_tag(@show.battle_level.start_cut_scenes[0], 
    class: "cutscene") %>
  <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/next.png", 
    class: "next-scene") %>
  <% if @show.has_cut_scene %>
    <button class="skip-button" id="skip-button">Skip</button>
  <% end %>
</div>


<div class="battle" data-index="<%= @battle.id_code %>" 
  data-battlecount="<%= current_user.battle_count %>" id="battle"
  data-bonusTurtorial="<%= current_user.first_time_replay(@battle.battle_level.name) %>"
  data-showapbutton = "<%= @show.show_ap_button %>"
  data-showoracleskill= "<%= @show.show_oracle_skill%>"
  data-oracleskillturtorial = "<%= @show.oracle_skill_turtorial %>"
  data-levelname = "<%= @show.battle_level.name %>">

  <div class="panel-body battle-message">
    Time to Die!!!
  </div>

  <div class="battle-timer">
  </div>

  <div class="total-damage-per-turn">
    <span class="title">
      Total
    </span>
    <br/>
    <span class="stupid-number">
      0
    </span>
  </div>

  <div class="hits-per-turn">
    <span class="title">
      Hits
    </span>
    <br/>
    <span class="stupid-number">
      0
    </span>
  </div>



  <% if @show.first_cleared %>
<!--     <div class="battle-round-countdown" id="battle-round-countdown">
      <span><%= @battle.battle_level.time_requirement %></span> turns
      <p class="rush-reward-title">Rush Reward</p>
    </div>
    <div class="bonus-description">
      Win the battle under <%= @battle.battle_level.time_requirement %> rounds 
          and get <%= @battle.battle_level.reward %>
    </div> -->
    <div class="battle-round-countdown" id="battle-round-countdown">
      <span><%= @show.battle_level.time_requirement %></span> turns
      <p class="rush-reward-title">Rush Reward</p>
    </div>
    <div class="bonus-description">
      Win the battle under <%= @show.battle_level.time_requirement %> rounds 
          and get the big reward
    </div>
  <% elsif @show.twice_cleared %>
    <div class="battle-round-countdown" id="battle-round-countdown">
      <span><%= @show.battle_level.time_requirement %></span> turns
      <p class="rush-reward-title">Rush Reward</p>
    </div>
    <div class="bonus-description">
      Win the battle under <%= @show.battle_level.time_requirement %> rounds 
          and get the currency reward
    </div>
  <% end %>

  <div class="battle-helper">
    <div class="panel-body battle-guide guide">
      I will help you
    </div>
    <button class="battle-guide cancel" onclick="playIt()">
      Cancel Action
    </button>
  </div>

  <img class="ability-img" src="" type="image" alt="monster abiltiy">

  <div class="oracle-skill-panel">
    <p class="oracle-skill-title">Oracle Skill:</p>
    <img src="https://s3-us-west-2.amazonaws.com/monbattle/images/frank.jpg" 
      class="oracle-skill-icon" id="oracle-skin-icon" onclick="playIt()">
    <div class="cooldown-box">
      <%= image_tag("clock.png", class: "cooldown-icon") %> 
      <p class="cooldown-count">2</p>
    </div>
  </div>

  <div class="0 user mon-slot" id="control-tip" data-team="0">
    <% @show.user_party.mons.each do |mon| %>
      <div class="mon mon<%= @show.user_party.mon_dex(mon) %>" 
            data-index="<%= @show.user_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @show.user_party  } %>
      </div>
    <% end %>
  </div>

  <h2 class="foe-indication" id="foe-indication">Enemy</h3>

  <div class="1 enemy mon-slot" id="tutorial-end" data-team="1">
    <% @show.pc_party.mons.each do |mon| %>
      <div class="mon mon<%= @show.pc_party.mon_dex(mon) %>" 
          data-index="<%= @show.pc_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @show.pc_party } %>
      </div>
    <% end %>
  </div>

  <div class="ap" id="ap-tip">
    <% if @show.is_first_battle %>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/main+chars/korona-avi.png", 
            size: "42x42", class: "baby") %>
    <% else %>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/main+chars/faye-avi.png", 
            size: "42x42", class: "baby") %>
    <% end %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/ap-cost-icon-25.png", 
        class: "ap-icon", id: "ap-icon") %>
    <p class="ap-number">1000 / 1000 </p>
    <div class="ap-meter" id="ap-meter">
      <%= image_tag("APBar1px.gif", class: "bar", id: "ap-bar-tip") %>
    </div>
    <%= image_tag("", class: "gain-ap", id: "gain-ap", 
        onclick: "playIt()",
        data: {index: "", apcost: 20, target: "action-point"})  %>
  </div>

  <div class="ap-gain-information">
    Spend <span>10</span> AP this turn to gain 10 maximum AP 
  </div>

  <button class="end-turn" id="end-turn-tip" onclick="playIt()">End Turn</button>
  
  <div class="effect-info panel panel-default">
    <div class="panel-body">
      <p>Effect description</p>
    </div>
    <div class="panel-heading">Effect name</div>
  </div>
</div>


<% if !@show.is_first_battle %>
  <button class="surrender-option-button">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/settings-icon.png")%>
  </button>
<% end %>

<div class="surrender-option-box">
  <%= link_to "concede", new_battle_path, class: "surrender-button concede" %>
  <%= form_for(Battle.new) do |f|  %>
    <button class="surrender-button retry" name="battle[battle_level_id]" type="submit" 
            value="<%= @show.battle_level.id %>">
      retry
    </button>
  <% end %>
  <button class="surrender-button mute-toggle">
    <% if !current_summoner.mute %>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/volumn-icon.png") %>
    <% else %>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/mute-icon.png") %>
    <% end %>
  </button>
</div>


<div id="embed"></div>



