<img class="single-ability-img" src="" type="image" alt="monster abiltiy">

<div id="overlay">
  <div class="panel panel-default">
    <div class="panel-body message">
      Let's fuck up them bitches!
    </div>
  </div>
</div>

<div class="battle" data-index="<%= @battle.id %>">
  <div class="panel-body battle-message">
    We are gonna fuck you up!!!
  </div>

  <div class="panel-body battle-guide guide">
    I will help you
  </div>

  <button class="battle-guide cancel">Cancel</button>


  <%= image_tag("platform.jpg", class: "platform") %>
  <img class="ability-img" src="" type="image" alt="monster abiltiy">

  <div class="0 user info">
    <% @user_party.mons.each do |mon| %>
      <div class="mon mon<%= @user_party.mon_dex(mon) %>" data-index="<%= @user_party.mon_dex(mon)%>">
        <%= render :partial => "userTeamInfo", :locals => { :mon => mon }  %>
      </div>
    <% end %>
  </div>

  <div class="0 user mon-slot" data-team="0">
    <% @user_party.mons.each do |mon| %>
      <div class="mon mon<%= @user_party.mon_dex(mon) %>" data-index="<%= @user_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @user_party  } %>
      </div>
    <% end %>
  </div>

  <div class="1 enemy mon-slot" data-team="1">
    <% @pc_party.mons.each do |mon| %>
      <div class="mon mon<%= @pc_party.mon_dex(mon) %>" data-index="<%= @pc_party.mon_dex(mon) %>">
        <%= render :partial => "team", :locals => { :mon => mon, party: @pc_party } %>
      </div>
    <% end %>
  </div>

  <div class="1 enemy info">
    <% @pc_party.mons.each do |mon| %>
      <div class="mon mon<%= @pc_party.mon_dex(mon) %>" data-index="<%= @pc_party.mon_dex(mon) %>">
        <p class="avatar"></p>
        <%= render :partial => "pcTeamInfo", :locals => {:mon => mon}  %>
      </div>
    <% end %>
  </div>

  <div class="ap">
    <p class="ap-number">AP:   1000 / 1000 </p>
    <div class="ap-meter">
      <%= image_tag("HPBar1px.gif", class: "bar") %>
    </div>
  </div>

  <button class="end-turn">End Turn</button>

</div>
