<div class="end-battle-box winning" id="winning" 
      data-firstcleared = "<%= @victory.first_cleared %>"
      data-levelname = "<%= @victory.battle_level.name %>"
      data-share = "<%= @victory.share_message %>">
  <% if @victory.ability != nil %>
    <p class="extra-reward-title">Ability earned:</p>
    <%= image_tag("#{@victory.reward_image}", class: "reward-image") %>
    <p class="ability-earned" data-type="ability" data-class="<%= @victory.class_list %>" 
      data-slot= "<%= @victory.slot %>" data-firsttime = "<%= @victory.first_time %>">
      <%= @victory.ability.name %>
    </p>
  <% elsif @victory.monster != nil %>
    <p class="extra-reward-title">Monster earned:</p>
    <%= image_tag("#{@victory.reward_image}", class: "reward-image") %>
    <p class="ability-earned" data-type="monster">
      <%= @victory.monster.name %>
    </p>
  <% elsif @victory.reward != nil %>
    <p class="extra-reward-title">Currency earned:</p>
    <%= image_tag("#{@victory.reward_image}", class: "reward-image") %>
    <p class="ability-earned" data-type="currency"><%= @victory.reward %></p>
  <% end %>
  <% if @victory.is_guild %>
    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/next.png", class: "next-but"), 
        guild_levels_path(area_name: @victory.battle_level.area.name), 
        class: "end-battle-but level-select-but battle-fin" %>
    <p class="extra-reward-title guild-reward">Guild points earned: </p>
    <p class="guild-reward-points-earned"><%= @victory.points_given %></p> 
  <% else %>
    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/next.png", class: "next-but"), 
        new_battle_path, class: "end-battle-but level-select-but battle-fin" %>
  <% end %>
  <% if  @victory.reward_category == "monster" %>
    <%= link_to "Edit team", home_index_path, 
        class: "end-battle-but ability-equip battle-fin", id: "endgame-link" %>
  <% elsif @victory.reward_category == "ability" %>
    <%= link_to "Learn Ability", learn_ability_path, 
        class: "end-battle-but ability-equip battle-fin", id: "endgame-link" %>
  <% elsif @victory.reward_category == "enhance" %>
    <%= link_to "Enhance Mons", enhance_monster_path, 
        class: "end-battle-but ability-equip battle-fin", id: "endgame-link" %>
  <% elsif @victory.reward_category == "ascend" %>
    <%= link_to "Ascend Mons", ascend_monster_path, 
        class: "end-battle-but ability-equip battle-fin", id: "endgame-link" %>
  <% elsif  @victory.reward_category == "store" %>
    <%= link_to "Shop", device_store_path, 
        class: "end-battle-but ability-equip battle-fin endgame-store-link", id: "endgame-link" %>
  <% end %>
  <button class="end-battle-but battle-fin ability-equip share-but">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/facebook-share.png", 
      class: "facebook-share-logo", size: "20")%>
    Share
  </button>
</div>

<% if @victory.level_up %>
  <div class="level-up-box end-battle-box">
    <p class="level-up-message">
      Stamina refilled! You have reached Level <span id="summoner-new-level"><%= @victory.new_level %></span>! 
    </p>
    <% if @victory.stamina_upgrade %>
      <p class="stamina-increase-message">
        Max Stamina increased to <span><%= @victory.new_stamina %></span>! 
      </p>
    <% end %>
  </div>
<% end %>













        