<div class="end-battle-box winning" id="winning">
  <%= image_tag("gp.png", class: "mp-logo") %>
  <p class="mp-title">earned:</p>

  <% if @level_cleared %>
    <p class="gp-earned"><%= @battle.battle_level.gp_reward %></p>
  <% else %>
    <p class="gp-earned"></p>
  <% end %>

  <% if @ability != nil %>
    <p class="extra-reward-title">Ability earned:</p>
    <p class="ability-earned" data-type="ability" data-class="<%= @class_list %>" 
      data-slot= "<%= @slot %>" data-firsttime = "<%= @first %>">
      <%= @ability.name %>
    </p>
  <% elsif @monster != nil %>
    <p class="extra-reward-title">Monster earned:</p>
    <p class="ability-earned" data-type="monster">
      <%= @monster.name %>
    </p>
  <% elsif @reward != nil %>
    <p class="ability-earned" data-type="currency"><%= @reward %></p>
  <% else %>
    <p class="extra-reward-title">Ascension coins:</p>
    <p class="ability-earned">Coming soon</p>
  <% end %>
  <%= link_to "Equip Ability", home_index_path, 
      class: "end-battle-but ability-equip battle-fin" %>
  <%= link_to "Learn Ability", learn_ability_path,
      class: "end-battle-but battle-fin learn-ability-but" %>
  <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/next.png", class: "next-but"), 
      new_battle_path, class: "end-battle-but level-select-but battle-fin" %>
</div>

<% if @level_up %>
  <div class="level-up-box end-battle-box">
    <p class="level-up-message">
      You have reached Level <span><%= @new_level %></span>! 
    </p>
    <% if @stamina_upgrade %>
      <p class="stamina-increase-message">
        Max Stamina increased to <span><%= @new_stamina %></span>! 
      </p>
    <% end %>
  </div>
<% end %>