<div class="end-battle-box">
  <p class="gp-earned"><%= @battle.battle_level.gp_reward %></p>
  <p class="exp-earned"><%= @battle.battle_level.exp_given %></p>
  <p class="ability-earned" data-class="<%= @class_list %>">
    <%= @ability.name %>
  </p>
  <%= link_to "Equip Ability", home_index_path, class: "end-battle-but ability-equip battle-fin" %>
  <%= link_to "Battle", new_battle_path, class: "end-battle-but level-select battle-fin" %>
</div>
