<div class="end-battle-box winning" id="winning">
  <% if @victory.ability != nil %>
    <p class="extra-reward-title">Ability earned:</p>
    <%= image_tag("#{@victory.reward_image}", class: "reward-image") %>
    <p class="ability-earned" data-type="ability" data-class="<%= @victory.class_list %>" 
      data-slot= "<%= @victory.slot %>" data-firsttime = "<%= @victory.first %>">
      <%= @victory.ability.name %>
    </p>
  <% elsif @victory.monster != nil %>
    <p class="extra-reward-title">Monster earned:</p>
    <%= image_tag("#{@victory.reward_image}", class: "reward-image") %>
    <p class="ability-earned" data-type="monster">
      <%= @victory.monster.name %>
    </p>
  <% elsif @victory.reward != nil %>
    <p class="extra-reward-title">Currency earned:</p>
    <%= image_tag("#{@victory.reward_image}", class: "reward-image") %>
    <p class="ability-earned" data-type="currency"><%= @victory.reward %></p>
  <% end %>
  <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/next.png", class: "next-but"), 
      new_battle_path, class: "end-battle-but level-select-but battle-fin" %>
</div>

<% if @victory.level_up %>
  <div class="level-up-box end-battle-box">
    <p class="level-up-message">
      You have reached Level <span><%= @victory.new_level %></span>! 
    </p>
    <% if @victory.stamina_upgrade %>
      <p class="stamina-increase-message">
        Max Stamina increased to <span><%= @victory.new_stamina %></span>! 
      </p>
    <% end %>
  </div>
<% end %>




        