<div class="end-battle-box">
  
  <% if @level_cleared %>
    <p class="gp-earned"><%= @battle.battle_level.gp_reward %></p>
    <p class="exp-earned"><%= @battle.battle_level.exp_given %></p>
  <% else %>
    <p class="gp-earned"></p>
    <p class="exp-earned"></p>
  <% end %>

  <% if @ability != nil %>
    <p class="ability-earned" data-class="<%= @class_list %>" 
      data-slot= "<%= @slot %>"><%= @ability.name %></p>
  <% else %>
    <p class="ability-earned"></p>
  <% end %>
  <%= link_to "Equip Ability", home_index_path, 
      class: "end-battle-but ability-equip battle-fin" %>
  <%= link_to "Learn Ability", learn_ability_path,
      class: "end-battle-but battle-fin learn-ability-but" %>
  <%= link_to "Battle", new_battle_path, 
      class: "end-battle-but level-select-but battle-fin" %>
</div>
