<div class="end-battle-box winning" id="winning" 
      data-firstcleared = "<%= @victory.first_cleared %>"
      data-levelname = "<%= @victory.battle_level.name %>" >
  <% if @victory.ability != nil %>
    <p class="extra-reward-title">Ability earned:</p>
    <%= image_tag("#{@victory.reward_image}", class: "reward-image") %>
    <p class="ability-earned" data-type="ability" data-class="<%= @victory.class_list %>" 
      data-slot= "<%= @victory.slot %>" data-firsttime = "<%= @victory.first %>">
      <%= @victory.ability.name %>
    </p>
  <% elsif @victory.monster != nil %>
    <p class="extra-reward-title">Monster earned:</p>
    <%= image_tag("#{@victory.reward_image}", class: "reward-image") %>
    <p class="ability-earned" data-type="monster">
      <%= @victory.monster.name %>
    </p>
  <% elsif @victory.reward != nil %>
    <p class="extra-reward-title">Currency earned:</p>
    <%= image_tag("#{@victory.reward_image}", class: "reward-image") %>
    <p class="ability-earned" data-type="currency"><%= @victory.reward %></p>
  <% end %>
  <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/next.png", class: "next-but"), 
      new_battle_path, class: "end-battle-but level-select-but battle-fin" %>
  <% if @victory.reward_category == "ability" || @victory.reward_category == "monster" %>
    <%= link_to "Equip Ability", home_index_path, 
        class: "end-battle-but ability-equip battle-fin", id: "endgame-link" %>
  <% elsif @victory.reward_category == "enhance" %>
    <%= link_to "Enhance Mons", enhance_monster_path, 
        class: "end-battle-but ability-equip battle-fin", id: "endgame-link" %>
  <% elsif @victory.reward_category == "ascend" %>
    <%= link_to "Ascend Mons", ascend_monster_path, 
        class: "end-battle-but ability-equip battle-fin", id: "endgame-link" %>
  <% elsif  @victory.reward_category == "store" %>
    <%= link_to "Store", device_store_path, 
        class: "end-battle-but ability-equip battle-fin endgame-store-link", id: "endgame-link" %>
  <% end %>
</div>

<% if @victory.level_up %>
  <div class="level-up-box end-battle-box">
    <p class="level-up-message">
      You have reached Level <span><%= @victory.new_level %></span>! 
    </p>
    <% if @victory.stamina_upgrade %>
      <p class="stamina-increase-message">
        Max Stamina increased to <span><%= @victory.new_stamina %></span>! 
      </p>
    <% end %>
  </div>
<% end %>













        