<% Quest.all.each do |q| %>
  <% if q.is_active && current_user.summoner.check_completed_daily_quest(q.name) %>
    <div class="quest">
      <span class="quest-detail">
        <% if q.stat == "wins" && q.type == "Daily-Achievement" %>
          <%= q.name.gsub(/\d+/, (q.stat_requirement - 
              current_user.summoner.num_of_daily_wins).to_s) %>
        <% elsif q.stat == "wins" && q.type == "Daily-Login-Bonus" %>
          <%= q.name.gsub(/\d+/, (q.stat_requirement - 
            current_user.summoner.num_of_daily_wins).to_s) %>
        <% elsif q.stat = "round_taken" && q.type == "Daily-Turn-Based-Achievement" %>
          <%= q.name.gsub(/\d+/, (q.requirement - 
            current_user.summoner.num_of_daily_wins_under_round(q.stat_requirement)).to_s) %>
        <% end %>
      </span>
      <span class="quest-reward"><%= q.reward %>: <%= q.reward_amount %></span>
      <span class="quest-time" data-timer = "<%= (Time.now.end_of_day - Time.now).to_i %>">
        <%= seconds_to_time((Time.now.end_of_day - Time.now).to_i) %>
      </span>
      <%= image_tag("clock.png", class: "quest-clock") %>
    </div>
  <% end %>
<% end %>