<!DOCTYPE html>
<html>
<head>
  <title>Monbattle Facebook</title>
  <script src="//connect.facebook.net/en_US/sdk.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="forest">
<!--   <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1514420408809454',
        xfbml      : true,
        version    : 'v2.2',
        frictionlessRequests: true,
        status: true
      });

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script> -->
  
<!--   <div class="code-enter-box">
    <%= text_field_tag :code, params[:code_entered], 
          class: "unlock-code-entered" %>
    <button class="submit-unlock-code">Submit</button>
  </div>
 -->
  <%= render "battles/single_ability_img" %>
  <h1 id="fb-welcome" class="hide"></h1>
  <div class="turbolinks-overlay" id="turbolinks-overlay">
    <%= image_tag("loading.gif")%>
  </div>
  <div class="container-yes">
    <nav class="navbar mon-front" role="navigation">
      <ul class="nav nav-pills main-nav" class="navigation">
        <%= link_to image_tag("monbattle-logo.png", class: "navbar-logo"), home_sweet_home_path, 
            class: "logo-link" %>
        <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/redeem.png", 
              class: "redeem-button")%>
<!--         <div class="redeen-overlay" id="redeem-overlay">
        </div> -->
        <% if !user_signed_in? %>
          <li class="pull-right fb-nav sign-in">
            <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), 
                  class: "fb-nav sign-in user_session " %>
          </li>
        <% end %>
        <% if current_user %>
          <% if Quest.available_quests(current_user) > 0  %>
<!--             image_tag("quest-warning.png", class: "quest-warning") %> -->
          <% end %>
          <li class="<%= 'active' if current_page?(home_forum_path) %> pull-right fb-nav forum">
            <a href="#" class="fb-nav social-tab" id="mon-nav-tab" data-toggle="social-dropdown">
              Social<span class="caret"></span>
            </a>
            <div class="mon-dropdown social-dropdown">
              <a href="#" class="top-bar invite-but">
                <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/facebook-share.png", 
                      class: "facebook-share-logo", size: "20") %>
                Invite
              </a>
<!--               <a href="#" class="top-bar gift-but">
                Gifting
              </a> -->
              <%= link_to "Forum", "http://monbattle.boards.net/", class: "top-bar forum-but", 
                    :target => '_blank' %>
              <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/quest-arrow.png", 
                class: "mon-dropdown-arrow") %>
            </div>
          </li>
          <li class="<%= 'active' if current_page?(device_store_path) %> pull-right fb-nav">
            <%= link_to "Shop", device_store_path, class: "fb-nav" %>
          </li>
          <li class="<%= 'active' if current_page?(new_battle_path) ||
              request.original_url.include?("battles") %> pull-right fb-nav" class="party-setup">
            <%= link_to "Quest", new_battle_path, class: "fb-nav", data: {} %>
          </li>
          <li class="pull-right fb-nav quest-related">
            <a href="#" class="fb-nav quest-show">Tasks<span class="caret"></span></a>
            <%= image_tag("quest-arrow.png", class: "quest-arrow") %>
            <div class="quests-outline">
              <% if current_user %>
                <%= render "layouts/empty_quests" %>
              <% end %>
            </div>
            <div class="quests-info" class="quests-info">
              <% if current_user %>
                <%= render "layouts/quests" %>
              <% end %>
            </div>
          </li>
          <%= image_tag("quest-warning.png", class: "store-warning") %>
          <li class="pull-right fb-nav mon-tab-li">
            <a href="#" class="fb-nav mon-tab" id="mon-nav-tab" data-toggle="mon-dropdown-for-real">
              MON<span class="caret"></span>
            </a>
            <div class="mon-dropdown mon-dropdown-for-real">
              <%= link_to 'Edit Team', home_index_path, class: "top-bar edit-team" %>
              <%= link_to 'Teach Abilities', learn_ability_path, class: "top-bar learn-abilities" %>
              <%= link_to 'Enhance Mons', enhance_monster_path, class: "top-bar enhance-mons" %>
              <%= link_to "Ascend Mons", ascend_monster_path, class: "top-bar ascend-mons" %>
              <%= image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/quest-arrow.png", 
                class: "mon-dropdown-arrow") %>
            </div>
          </li>
          <li class= "summoner-info pull-right">
            <p class="username"><%= current_user.first_name %></p>
            <span class="summoner-gp" id="summoner-gp">
              <%= current_summoner.gp %>
            </span>
            <%= image_tag("gp.png", class: "gp-icon") %>
            <span class="summoner-mp" id="summoner-mp">
              <%= current_summoner.mp %>
            </span>
            <%=
              link_to (image_tag("add-member.png")), device_store_path, class: "plus-mp-but"
             %>
            <%= image_tag("mp.png", class: "mp-icon") %>
            <span class="summoner-level" id="summoner-level" 
                  data-seconds="<%= current_summoner.seconds_left_for_next_energy %>">
              LV <%= current_summoner.level %>
            </span>
            <br />
            <span class="summoner-exp">EXP </span>
            <div class="summoner-exp-bar" 
              data-currentexp = "<%= current_summoner.current_exp %>"
              data-levelupexp = "<%= current_summoner.exp_required %>"
              data-furtherexp = "<%= current_summoner.exp_required_further %>">
              <%= image_tag("HPBar1px.gif", class: "bar",
                  style: "width: #{current_summoner.exp_percentage};") %>
            </div>
            <br />
            <p class="summoner-stamina">
              <span class="current-stamina" id="current-stamina" >
                <%= current_summoner.stamina %>
              </span> / 
              <span class="max-stamina" id="max-stamina">
                <%= current_summoner.max_stamina %>
              </span>
            </p>
            <div class="summoner-stamina-bar">
              <%= image_tag("stamina.png", class: "stamina-icon") %>
              <%= image_tag("stamina-bar.png", class: "bar", 
                  style: "width: #{current_summoner.stamina_percentage};") %>
            </div>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="flash-store">
      <% if @messages %>
        <% @messages.each do |m| %>
          <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <%= m %>
          </div>
        <% end %>
      <% end %>

      <% flash.each do |type, message| %>
        <% if type == "notice" %>
          <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <%= message %>
          </div>
        <% elsif type == "alert" %>
          <div class="alert alert-warning fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <%= message %>
          </div>
        <% elsif type == "quest" %>
          <% message.each do |m| %>
            <div class="alert alert-success fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
              </button>
              <%= m %>
            </div>
          <% end %>
        <% else %>
          <div class="alert alert-<%= type %> fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="for-real">
      <%= yield %>
    </div>
  </div>

  <% if request.original_url.to_s.index("https://arcane-depths-3003.herokuapp.com") != nil && current_user %>
    <% if current_user.admin == false %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59980321-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  <% end %>


  <%= javascript_include_tag "hopscotch" %>
</body>
</html>

