<!DOCTYPE html>
<html>
<head>
  <title>Monbattle Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="forest">
  <%= render "battles/single_ability_img" %>
  <div class="container-yes">
    <nav class="navbar mon-front" role="navigation">
      <ul class="nav nav-pills main-nav" class="navigation">
        <%= link_to image_tag("monbattle-logo.png", class: "navbar-logo"), home_sweet_home_path %>
        <% if Quest.available_quests(current_user) > 0  %>
          <%= image_tag("quest-warning.png", class: "quest-warning") %>
        <% end %>
        <% if !user_signed_in? %>
          <li class="pull-right fb-nav sign-in">
            <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), 
                class: "user_session", class: "fb-nav sign-in" %>
          </li>
        <% end %>
        <% if current_user %>
          <li class="<%= 'active' if current_page?(home_forum_path) %> pull-right fb-nav forum">
            <%= link_to "Forum", home_forum_path, class: "fb-nav" %>
          </li>
          <li class="<%= 'active' if current_page?(device_store_path) %> pull-right fb-nav">
            <%= link_to "Shop", device_store_path, class: "fb-nav" %>
          </li>
          <li class="<%= 'active' if current_page?(new_battle_path) || current_page?(home_index_path) ||
                      request.original_url.include?("battles") %>
                     pull-right fb-nav" class="party-setup">
            <%= link_to "Battle", new_battle_path, class: "fb-nav" %>
          </li>
          <li class="<%= 'active' if current_page?(home_sweet_home_path) || current_page?(root_path) %> 
              pull-right fb-nav">
            <%= link_to "Home", home_sweet_home_path, class: "fb-nav"%>
          </li>
          <li class="pull-right fb-nav quest-related">
            <a href="#" class="fb-nav quest-show">Quest</a>
            <%= image_tag("quest-arrow.png", class: "quest-arrow") %>
            <div class="quests-outline">
              <% if current_user %>
                <%= render "layouts/empty_quests" %>
              <% end %>
            </div>
            <div class="quests-info" class="quests-info">
              <% if current_user %>
                <%= render "layouts/quests" %>
              <% end %>
            </div>
          </li>
          <li class= "summoner-info pull-right">
            <p class="username"><%= current_user.user_name%></p>
            <span class="summoner-gp" id="summoner-gp">
              <%= current_user.summoner.gp %>
            </span>
            <%= image_tag("gp.png", class: "gp-icon") %>
            <span class="summoner-mp" id="summoner-mp">
              <%= current_user.summoner.mp %>
            </span>
            <%= image_tag("mp.png", class: "mp-icon") %>
            <span class="summoner-level" id="summoner-level" data-seconds="<%= current_user.summoner.seconds_left_for_next_energy %>">
              LV <%= current_user.summoner.level%>
            </span>
            <br />
            <span class="summoner-exp">EXP </span>
            <div class="summoner-exp-bar">
              <%= image_tag("HPBar1px.gif", class: "bar") %>
            </div>
            <br />
            <p class="summoner-stamina">
              <span class="current-stamina" id="current-stamina" >
                <%= current_user.summoner.stamina %>
              </span> / 100
            </p>
            <div class="summoner-stamina-bar">
              <%= image_tag("stamina.png", class: "stamina-icon") %>
              <%= image_tag("stamina-bar.png", class: "bar", 
                  style: "width: #{current_user.summoner.stamina_percentage};") %>
            </div>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="flash-bank">
      <% flash.each do |type, message| %>
        <% if type == "notice" %>
          <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <%= message %>
          </div>
        <% elsif type == "alert" %>
          <div class="alert alert-warning fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <%= message %>
          </div>
        <% else %>
          <div class="alert alert-<%= type %> fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="for-real">
      <%= yield %>
    </div>
  </div>
</body>
</html>

