<!DOCTYPE html>
<html>
<head>
  <title>Monbattle Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="forest">
  <div class="container-fluid">
    <nav class="navbar mon-front" role="navigation">
      <ul class="nav nav-pills main-nav" id="navigation">
        <%= link_to image_tag("monbattle-logo.png", class: "navbar-logo"), home_sweet_home_path %>
        <li class="<%= 'active' if current_page?(new_charge_path) %> pull-right fb-nav forum">
          <a href="http://monbattle.boards.net/" target="_blank" class="fb-nav">Forum</a>
        </li>
        <li class="<%= 'active' if current_page?(device_store_path) %> pull-right fb-nav">
          <%= link_to "Shop", device_store_path, class: "fb-nav" %>
        </li>
        <li class="<%= 'active' if current_page?(new_battle_path) %> pull-right fb-nav" id="party-setup">
          <%= link_to "Battle", new_battle_path, class: "fb-nav" %>
        </li>
        <li class="<%= 'active' if current_page?(home_sweet_home_path) || current_page?(root_path) %> pull-right fb-nav">
          <%= link_to "Home", home_sweet_home_path, class: "fb-nav"%>
        </li>
        <li class="pull-right fb-nav">
          <a href="#" class="fb-nav quest-show">Quest</a>
        </li>
        <% if !user_signed_in? %>
          <li class="pull-right fb-nav sign-in">
            <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), id: "user_session", class: "fb-nav sign-in" %>
          </li>
        <% end %>
        <% if current_user %>
          <li class= "currency pull-right">
            <%= current_user.user_name %> |
            <span id="summoner_gp"><%= current_user.summoner.gp %></span> GP |
            <span id="summoner_mp"><%= current_user.summoner.mp %></span> MP
            <span class="door">        
              <% if user_signed_in? %>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                <%= image_tag("quest-arrow.png", class: "quest-arrow") %>
                <div class="quests-outline">
                </div>
                <div class="quests-info">
                  <% Quest.all.each do |q| %>
                    <% if q.is_active %>
                      <div class="quest">
                        <span class="quest-detail"><%= q.name %></span>
                        <span class="quest-reward"><%= q.reward %>: <%= q.reward_amount %></span>
                        <span class="quest-time"><%= Time.now.strftime("%I:%M:%S") %></span>
                        <%= image_tag("clock.png", class: "quest-clock") %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    </nav>
    <% flash.each do |type, message| %>
      <% if type == "notice" %>
        <div class="alert alert-success fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <%= message %>
        </div>
      <% elsif type == "alert" %>
        <div class="alert alert-warning fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <%= message %>
        </div>
      <% else %>
        <div class="alert alert-<%= type %> fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <%= message %>
        </div>
      <% end %>
    <% end %>
    <div class="close-quest">
    </div>
    <div class="for-real">
      <%= yield %>
    </div>
    <% if current_page?(home_sweet_home_path) || current_page?(root_path)  %>
      <%= render "home/footer" %>
    <% end %>
  </div>
</body>
</html>

